@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: linear-gradient(
    229deg,
    rgba(42, 105, 184, 1) 0%,
    rgba(20, 54, 117, 1) 99%
  );
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

h1::first-letter {
  font-size: 3rem;
  color: #ffc83c;
}

h1 {
  font-size: 2rem;
  padding: 10px;
}

#currentForecast {
  padding: 40px 100px;
  display: flex;

  align-items: center;
  width: 100%;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.cityName {
  font-weight: normal;
  opacity: 0.9;
  font-size: 2.5rem;
}

.countryName {
  font-size: 5rem;
  opacity: 0.8;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  position: relative;
}

.search {
  border-radius: 25px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 10px;
  padding-left: 1rem;
  width: 40vw;
  font-size: 1.5rem;
  border: none;
}

.searchBar {
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

.searchIcon {
  height: 100%;
  width: 25px;
  opacity: 0.3;
  position: absolute;
  right: 10px;
}

.search::placeholder {
  color: white;
  opacity: 0.4;
}

.date,
.time {
  text-align: center;
  margin: 10px auto;
  font-size: 3rem;
}

.time {
  font-size: 3.5rem;
}

.feelslike {
  opacity: 0.7;
  font-size: 1.5rem;
}

.conditionText,
.temp {
  font-size: 5rem;
}

.right img {
  height: 100%;
  width: 100px;
}

.right figure {
  display: flex;
  gap: 20px;
}

.right figure figcaption {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}

.right span {
  font-size: 2rem;
  color: white;
}

.weeklyForecast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 20px;
}

.card {
  background: linear-gradient(
    180deg,
    rgba(42, 105, 184, 1) 0%,
    rgba(20, 54, 117, 1) 99%
  );
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
}

.current {
  background-color: #6aaaef !important;
}

.currentCard {
  background: linear-gradient(
    180deg,
    rgba(51, 124, 215, 1) 0%,
    rgba(31, 77, 161, 1) 99%
  ) !important;
}

.card .header {
  font-size: 1.2rem;
  background-color: #3f7ac6;
  margin: -10px -10px 0 -10px;
  padding: 5px;
  padding-right: 20px;
  border-radius: 20px;
}

.cardTempHigh {
  font-size: 2.5rem;
  margin-top: 20px;
  text-align: center;
}

.cardTempLow {
  font-size: 1.5rem;
  opacity: 0.8;
}

.cardIconContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.cardIcon img {
  height: 100%;
  width: 64px;
}

.condition {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.conditionIcon {
  width: 120px;
  height: 120px;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #3f7ac6;
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
}

.hidden {
  display: none;
}

#loadingscreen {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-size: 2rem;
}

#loadingscreen.display {
  display: flex !important;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.suggestions {
  position: absolute;
  z-index: 10;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  margin-top: 10px;
}

.suggestions li {
  color: #338cdf;
  cursor: pointer;
  display: block;
  padding: 10px;
}

.suggestions li:first-child {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.suggestions li:last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.suggestions li:hover {
  background-color: #338cdf;
  color: white;
}
